{% extends 'RockITTechgamesBundle::layout.html.twig' %}

{% block content %}

    <h1>Announcements</h1>

    <div class="article">
        <h1>Students Participate in Coverage Challenge</h1>
        <p>This year at the Avnet Tech Games the Spot 127 high school students were roaming the campus where they&nbsp;held&nbsp;on the spot interviews,&nbsp;gathered information, and participated in a unique challenge all their own.&nbsp; There were 4 teams competing for this award&nbsp;and&nbsp;the&nbsp;links below&nbsp;will let you view their finished multimedia packages.&nbsp;</p>
        <a class="btn" href="#">View details »</a>
    </div>
    <div class="article">
        <h1>9th Annual Avnet Tech Games: Success!</h1>
        <p>Many thanks to everyone who attended and participated in the 9th annual Avnet Tech Games and congratulations to the winning competitors!</p>
        <a class="btn" href="#">View details »</a>
    </div>
    <div class="article">

        <h1>Game Day Information</h1>
        <p>Hello, everyone! We are so excited for the Arizona Onsite Avnet Tech Games, which are this Saturday, April 12! Following are a few game day details:</p>
        <p>The Avnet Tech Games are held at The University of Advancing Technology, 2625 W. Baseline Rd, Tempe, AZ 85283. If you are using Mapquest, Google Maps or something similar, please make sure to put in W. Baseline Road. There is a similar address on E. Baseline Road -- but it's the opposite direction from UAT! The college is located west of the I-10 on Baseline Road.</p>
        <a class="btn" href="#">View details »</a>
    </div>

{% endblock %}


