{% extends 'RockITTechgamesBundle::layout.html.twig' %}

{% block content %}
    <div class="row row-offcanvas row-offcanvas-right">



        <div class="col-4  col-lg-4 article">

            <h1>Students Participate in Coverage Challenge</h1>
            <p>This year at the Avnet Tech Games the Spot 127 high school students were roaming the campus where they&nbsp;held&nbsp;on the spot interviews,&nbsp;gathered information, and participated in a unique challenge all their own.&nbsp; There were 4 teams competing for this award&nbsp;and&nbsp;the&nbsp;links below&nbsp;will let you view their finished multimedia packages.&nbsp;</p>
            <a class="btn" href="#">View details »</a>
        </div>




        <div class="col-4  col-lg-4 article">

            <h1>9th Annual Avnet Tech Games: Success!</h1>
            <p>Many thanks to everyone who attended and participated in the 9th annual Avnet Tech Games and congratulations to the winning competitors!</p>

            <a class="btn" href="#">View details »</a>
        </div>

        <div class="col-4  col-lg-4 article">

            <h1>Game Day Information</h1>
            <p>Hello, everyone! We are so excited for the Arizona Onsite Avnet Tech Games, which are this Saturday, April 12! Following are a few game day details:</p>
            <p>The Avnet Tech Games are held at The University of Advancing Technology, 2625 W. Baseline Rd, Tempe, AZ 85283. If you are using Mapquest, Google Maps or something similar, please make sure to put in W. Baseline Road. There is a similar address on E. Baseline Road -- but it's the opposite direction from UAT! The college is located west of the I-10 on Baseline Road.</p>
            <a class="btn" href="#">View details »</a>
        </div>
            <!--/views-view-fields.tpl.php -->
        {#<div class="views-row-unformatted">#}

            {#<div class="title">#}


                {#<a href="/atgevent/3255"><h2>9th Annual Avnet Tech Games: Success!</h2></a>#}
            {#</div>#}

            {#<div class="created">#}


                {#Posted 04/21/2014 - 1:52pm by DeEtte Person#}
            {#</div>#}

            {#<div class="teaser">#}


                {#<p></p><div id="content"><br>#}
                    {#<div class="article" jquery1398113507413="522"><br>#}
                        {#<p><strong>Many thanks to everyone who attended and participated in the 9th annual Avnet Tech Games and congratulations to the <u><a href="http://news.avnet.com/index.php?s=20295&amp;item=126902">winning competitors</a></u>!</strong></p><br>#}
                        {#<p><strong><em><u>2014 Spring *Onsite* Avnet Tech Games Winners</u></em></strong></p><br>#}
                        {#<p><strong><em>Cisco Networking Expert Battle</em></strong><br>South Mountain Community College: Huy Mai and Justin Woys</p></div></div><p></p>#}

            {#</div>#}

            {#<div class="nothing">#}


                {#<a href="/atgevent/3255">Read more &gt;&gt;</a>#}
            {#</div>#}
            {#<!--/views-view-fields.tpl.php -->#}
        {#</div>#}

        {#</div>#}











                {#<h1 class="detail_header">The 2014 Avnet Tech Games Winners Announced</h1>#}
                {#<h2 class="detail_subheader">Arizona college students win scholarship money, practice skills and network with business leaders</h2>#}
                {#<p class="release_data">Apr 15, 2014</p>#}

                {#<style type="text/css">#}
                    {#div.news_body img {#}
                        {#margin: 0 0 20px 20px;#}
                        {#float:right;#}
                        {#max-width: 250px;#}
                        {#max-height: 250px;#}
                        {#width: auto !important;#}
                        {#height: auto !important;#}
                    {#}#}
                {#</style>#}
                {#<div id="news_body_126902" class="news_body"><p>PHOENIX -- <a href="http://www.avnet.com/" target="_blank">Avnet, Inc</a>. (NYSE:<a href="http://ir.avnet.com/" target="_blank">AVT</a>), a leading global technology distributor, announced the 2014 winners of the <a href="http://www.avnettechgames.com/" target="_blank"><span face="">Avnet Tech Games</span></a>. Close to 200 students from Arizona community colleges and universities competed head-to-head for top honors in the Avnet Tech Games Arizona onsite competition on Saturday, April 12, 2014, at The University of Advancing Technology in Tempe, Ariz. In addition, college students competing on a national level in the Spring Virtual Avnet Tech Games had their work displayed and winners were announced during the awards ceremony at the onsite competition. Thirty winning students collected $1,000 each in scholarship money.</p>#}

                    {#<p>A panel of judges including technology executives, engineers and other business leaders selected the winners based on the students’ ability to meet the technical requirements of a task, apply innovative approaches to the solution and demonstrate professional skills. Nearly 76 teams of students competed in the onsite and virtual Avnet Tech Games, including 8 Arizona community colleges and universities: Arizona State University, ITT Technical Institute, seven Maricopa County Community Colleges, Northern Arizona University, The University of Advancing Technology and University of Arizona.</p>#}

                    {#<p>The winners of the 2014 Onsite Avnet Tech Games are:</p>#}

                    {#<p><strong>Cisco Networking Expert Battle</strong><br>#}
                        {#South Mountain Community College<br>#}
                        {#Faculty Coach: Tom Polliard<br>#}
                        {#Student Team Members: Huy Mai and Justin Woys</p>#}

                    {#<p><strong>Desktop Domination</strong><br>#}
                        {#The University of Advancing Technology<br>#}
                        {#Student Team Members: William Hartman and Kelly Stahlberg</p>#}

                    {#<p><strong>Digital Design Dilemma</strong><br>#}
                        {#Chandler-Gilbert Community College<br>#}
                        {#Faculty Coach: Bassam Matar<br>#}
                        {#Student Team Members: Michelle Smekal, Niccolo Horvath and Neel Mistry</p>#}

                    {#<p><strong>EMC Green Data Center Challenge</strong><br>#}
                        {#Arizona State University<br>#}
                        {#Student Team Members: Haylee Hilgers and Jason Hyacinthe</p>#}

                    {#<p><strong>HP Build the Fastest Computer</strong><br>#}
                        {#Chandler-Gilbert Community College<br>#}
                        {#Faculty Coach: Eli Chmouni<br>#}
                        {#Student Team Members: Troy Gerloff, Blake Knoll and Jeremy Morgan</p>#}

                    {#<p><strong>Java Blitz</strong><br>#}
                        {#Chandler-Gilbert Community College<br>#}
                        {#Faculty Coach: Rameen Kaliqu<br>#}
                        {#Student Team Members: Zachary Peshke, Samuel Slater and Larry Standage</p>#}

                    {#<p><strong>Robot Race Obstacle Course</strong><br>#}
                        {#Mesa Community College<br>#}
                        {#Faculty Coach: Bruce Carlton<br>#}
                        {#Student Team Members: Richard Dale, Spencer Hall and Federico Ortega</p>#}

                    {#<p><strong>Solar Scrimmage</strong><br>#}
                        {#Mesa Community College<br>#}
                        {#Faculty Coach: Bruce Carlton<br>#}
                        {#Student Team Members: Justin Arispe, Drew Carlson and Jennifer Hooker</p>#}

                    {#<p>Since the inception of the Avnet Tech Games in 2006, nearly $300,000 in scholarship money and prizes have been awarded to hundreds of the approximately 2,680 students and 215 faculty members who have participated in the competitions.</p>#}

                    {#<p>“The Avnet Tech Games provide a great opportunity for students to test their technical and strategy skills by applying what they have learned in the classroom to real-life scenarios,” said Joal Redmond, vice president of public relations for Avnet, Inc. “Students also had the opportunity to improve their communications skills by participating in a networking workshop and then practice those skills by meeting with Avnet and sponsor executives during a networking hour.&nbsp; Students win, schools win and business wins with the Avnet Tech Games.”</p>#}

                    {#<p>The annual multidisciplinary technology competition, composed of eight separate events, required students to work in teams to test their knowledge, creativity, decision-making, problem-solving and technical skills. During the event, students showcased how they can make a difference in advancing business and improving quality of life by participating in competitions such as creating a solar-powered water-pumping system, racing to build a computer using refurbished parts and troubleshoot issues in the Windows 7 operating system.</p>#}

                    {#<p><strong>2014 Spring Virtual Avnet Tech Games</strong><br>#}
                        {#The Virtual Avnet Tech Games were introduced in 2010 to expand the breadth of the onsite event by allowing students to compete on a national level. More than 115 teams competed in the Virtual Avnet Tech Games competition. The winners were:</p>#}

                    {#<p><strong>Android App™ Showdown</strong><br>#}
                        {#ITT Technical Institute<br>#}
                        {#Student Team Member: Bryan Geesey</p>#}

                    {#<p><strong>Green Video Competition</strong><br>#}
                        {#Chandler-Gilbert Community College<br>#}
                        {#Faculty Coach: Eli Chmouni<br>#}
                        {#Student Team Members: Dustin Allen, Kendra Charnick, Joel Parker and Brian Weeks</p>#}

                    {#<p><strong>JDA Supply Chain Challenge</strong><br>#}
                        {#Southern Methodist University<br>#}
                        {#Student Team Members: Aaron Barnard, Matt Mulholland, Tushar Solanki and Meredith Titus</p>#}

                    {#<p>“Congratulations to everyone who participated in this year’s virtual and onsite Avnet Tech Games, especially our winners,” added Redmond.&nbsp; On behalf of Avnet, thank you to all of our sponsors, business partners and volunteers for helping to make this year’s event a success.”</p>#}

                    {#<p>Avnet Tech Games 2014 sponsors included signature sponsors CA, Cisco, CDW, Datalink, DPAIR, EMC, HP, JDA, Kyocera, Microchip, Nimble Storage and Sungard.</p>#}

                    {#<p>Video from the event can be viewed here: <a href="http://youtu.be/DEy3SZlzvSk">http://youtu.be/DEy3SZlzvSk</a></p>#}

                    {#<p>Visit the Avnet Tech Games newsroom: <a href="http://news.avnet.com/Avnet_Tech_Games">http://news.avnet.com/Avnet_Tech_Games</a><br>#}
                        {#Follow the Avnet Tech Games on Twitter: <a href="http://twitter.com/avnettechgames" target="_blank">@AvnetTechGames</a><br>#}
                        {#Like the Avnet Tech Games on Facebook: <a href="http://www.facebook.com/AvnetTechGames" target="_blank">facebook.com/AvnetTechGames</a><br>#}
                        {#Follow the Avnet Tech Games Instagram account: <a href="http://instagram.com/avnettechgames">http://instagram.com/avnettechgames</a><br>#}
                        {#For more information go to: <a href="http://avnettechgames.com/">http://avnettechgames.com/</a></p>#}

                    {#<p><strong>About Avnet</strong><br>#}
                        {#Avnet, Inc. (NYSE: AVT), a Fortune 500 company, is one of the largest distributors of electronic components, computer products and embedded technology serving customers globally. Avnet accelerates its partners' success by connecting the world's leading technology suppliers with a broad base of customers by providing cost-effective, value-added services and solutions. For the fiscal year ended June 29, 2013, Avnet generated revenue of $25.5 billion. For more information, visit <a href="http://www.avnet.com">www.avnet.com</a>.</p>#}

                    {#<p><strong>Media Contacts</strong><br>#}
                        {#Hannah Bridge&nbsp;&nbsp;&nbsp;<br>#}
                        {#Avnet, Inc.&nbsp;&nbsp;&nbsp;<br>#}
                        {#Tel: 480-643-8804&nbsp;&nbsp;<br>#}
                        {#<a href="mailto:hannah.bridge@avnet.com">hannah.bridge@avnet.com</a>&nbsp;</p>#}

                    {#<p>Kali Pickens<br>#}
                        {#Brodeur, for Avnet<br>#}
                        {#Tel: 480-308-0289<br>#}
                        {#<a href="mailto:kpickens@brodeur.com">kpickens@brodeur.com</a> </p>#}
                {#</div><!-- ITEMDATE: 2014-04-15 15:44:00 PDT -->#}




        {#</div><!--/span-->#}
    </div><!--/row-->
{% endblock %}


