{% extends 'RockITTechgamesBundle::layout.html.twig' %}

{% block content %}

    <h1>Pressroom</h1>

    <div class="row">

        <div class="col-lg-8">

            <div class="article">
                <h2>Winners of 2014 Avnet Tech Games</h2>
                <h4>Written by <a href="#">Hannah Bridge</a> on April 21, 2014.</h4>
                <p>Close to 200 students from Arizona community colleges and universities competed head-to-head for top honors in the Avnet Tech Games Arizona onsite competition on Saturday, April 12, 2014, at The University of Advancing Technology in Tempe, Ariz. In addition, college students competing on a national level in the Spring Virtual Avnet Tech Games had their work displayed and winners were announced during the awards ceremony at the onsite competition. Thirty winning students collected $1,000 each in scholarship money.</p>
                <a class="btn" href="http://news.avnet.com/index.php?s=20295&item=126902">View details »</a>
            </div>

            <div class="article">
                <h2>Avnet Tech Games Spring 2014 Registration Now Open</h2>
                <h4>Written by <a href="#">Kali Pickens</a> on January 27, 2014.</h4>
                <p>Registration is now open for college students across the nation to compete in both the Arizona Onsite and Spring Virtual Avnet Tech Games. The events help students prepare for real-world business opportunities and compete for a chance to win scholarships.</p>
                <a class="btn" href="http://news.avnet.com/index.php?s=20295&item=126860">View details »</a>
            </div>
            <div class="article">
                <h2>Congratulations ATG 2013 Winners!</h2>
                <h4>Written by <a href="#">Sonia Bovio</a> on April 15, 2013.</h4>
                <p>Nearly 250 students from Arizona community colleges and universities competed head-to-head for top honors in the Avnet Tech Games Arizona onsite competition on Saturday, April 13, 2013, at The University of Advancing Technology in Tempe, Ariz. In addition, college students competing on a national level in the Spring Virtual Avnet Tech Games had their work displayed and winners were announced during the awards ceremony at the onsite competition. Thirty winning students collected up to $1,000 each in scholarship money.</p>
                <a class="btn" href="http://news.avnet.com/index.php?s=20295&item=126703">View details »</a>
            </div>

            <div class="article">
                <h2>Registration Opens for the 2013 Spring Virtual Competition and Arizona Onsite Games</h2>
                <h4>Written by <a href="#">Sonia Bovio</a> on Jan 14, 2013.</h4>
                <p>Registration is now open for college students across the nation to compete in both the Arizona Onsite and Spring Virtual Avnet Tech Games. The events help students prepare for real-world business opportunities and compete for a chance to win scholarships.</p>
                <a class="btn" href="http://news.avnet.com/index.php?s=20295&item=126703">View details »</a>
            </div>

        </div>

        <div class="col-lg-4">
            <h4>Media Contacts</h4>

            <address class="well sidebar-nav">
                <strong>Joal Redmond</strong><br>
                <b>Phone:</b> 480-643-5528
                <br>
                <b>Email:</b> <a href="mailto:joal.redmond@avnet.com">joal.redmond@avnet.com</a>
            </address>


            <address class="well sidebar-nav">
                <strong>Kali Pickens</strong><br>
                <b>Phone:</b> 480-308-0289
                <br>
                <b>Email:</b> <a href="mailto:kpickens@brodeur.com">kpickens@brodeur.com</a>
            </address>


        </div>


    </div>


{% endblock %}


