{% extends 'RockITTechgamesBundle::layout.html.twig' %}

{% block content %}
<h1>Welcome Admin</h1>

    <div class="row">
        <div class=" col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="{{path('admin_overview')}}">Overview</a></li>
                <li ><a href="{{path('admin_overview')}}?t=games">Games</a></li>
                <li><a href="{{path('admin_overview')}}?t=users">Users</a></li>
                <li><a href="{{path('admin_overview')}}?t=teams">Teams</a></li>
            </ul>
        </div>
        <div class="col-md-10  main">
            <h3>Overview</h3>
            <p>This is the overview</p>
        </div>
    </div>





{% endblock %}