/* Overrides */

@media (min-width: 768px){
    .col-sm-6 {
    width: 48%;
    }
}

@media (min-width: 1200px){
    .col-lg-4 {
        width: 32.4%
    }
}

.btn-lg{
    border-radius: 0px;
}

.btn-primary{
    background-color:#0e97c0;
    border-color:#3f6470;
}



.btn:hover{
    color:#0f4075;
    
}

.popover{
    max-width: 300px;
}

.navbar{
    margin-bottom: 0px;
}

.header{
    height: 255px;
    position: relative;
    background: #FCFCFC;
    background-image: -webkit-gradient(linear, 28% 0%, 100% 100%, from(#FCFCFC), to(#FCFCFC), color-stop(.3,#E6E6E6))
}


.btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Custom Styles */

.logo {
    position: absolute;
    top:0px;
    right:0px;
    z-index: 5;
}


.grad {
    position: absolute;
    top:0px;
    right:150px;
    z-index: 5;
}
.popover .table{
    font-size: 10px;
}

img.resize{
    height:269px; /* you can use % */
    
    sfloat:right;
    position: absolute;
    right:0;
    bottom:0;
    z-index: 2;
    margin-right: 50px;
    margin-bottom: -21px;
}

.header .navbar{
    position: absolute;
    bottom:0px;
    right: 0px;
    left: 0px;
    height: 53px;
    background: #1592C3;
    sbackground: rgba(21, 146, 195, 0.8);
    border-radius: 0px;
    border: none;
    z-index: 5;
    -moz-opacity: 0.80;
    opacity:.80;
    filter: alpha(opacity=80);
}

.navbar .btn {

    color: white;
    font-size: 2.5em;
    font-weight: 100;
    background:  none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background:  none;
    color: white;
    font-size: 2.5em;
    font-weight: 100;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background:  none;
    color: white;
    font-size: 25px;
    font-weight: 100;
}

.navbar-default .navbar-text {
    color: white;
}


.navbar img{
    width: 33px;
    position: absolute;
    top: 9px;
}

.navbar .btn .txt {
    margin-left:2em;
    font-size: 25px;
}


.navbar-title {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #0e97c0;

    position: absolute;
    top: 25px;
    left:45px;
    z-index: 10;

}

.navbar-row {
    background: #1592C3;
    height: 53px;
    position: absolute;
    top:0px;
    left: 0px;
    right:0px;
    z-index: 5;
    line-height: 50px;

    background: rgba(21, 146, 195, 0.8)
    
}

.navbar-row .btn {
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: white;
    font-size: 2.5em;
    margin-top: -5px;
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 40px;
    font-weight: 100;
}

.navbar-row img{
    width: 33px;
    position: absolute;
    top: 9px;
}

.navbar-row .btn .txt {
    margin-left:2em;
    font-size: 25px;
}

.navbar-row .active span{
    border-bottom: 5px solid white;
}

footer .nav  img{
    position: relative;
    width:200px;
    top:0px;

}

footer .navbar .navbar-right  li {
    border:none;
    margin-right: 0px;
    padding:0px;
    margin:0px;

}

footer .social ul {
    margin-top: 0;
    margin-bottom: 10px;
}

footer .social li{
    list-style: none;
    float: left;
    margin: 15px 15px 10px 0;
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
}
footer .social img {
    width: 25px
}

.container {
    margin-top: 50px;
}

hr {
    color: #575757;
}

.gm {
    sborder:20px solid white;
    margin: 5px;
    height:250px;
    padding:0px;
    overflow: hidden;
    text-align: center;
}

.gm h2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;

    margin: 0px;
    padding:0px;
    color: white;


    background: rgba(0, 0, 0, 0.7); /* browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000'); /* IE */

}

.gm img, .game-main img , .g img{
    width:100%;
}

.gm i{
    padding-top: 29px;
    font-size: 100px;
    color:#fff;
}

.gm a{
    display: block;
    height: 100%;
}

.gm-default {
    background-color: #c52f2b;
}

.gm-primary {
    background-color: #0e97c0;
}

.gm-primary2 {
    background-color: #a0c53b;
}

.gm-primary3 {
    background-color: #3f6470;
}

.gm-primary4 {
    background-color: #0f4075;
}

.gm-secondary {
    background-color: #5e5e5e;
}

.gm-secondary2 {
    background-color: #b9b9b9;
}

.gm-tertiary {
    background-color: #cf7338;
}

.gm-tertiary2 {
    background-color: #e2b356;
}

.gm-popup {
    display:none;
}


.game-main .g-logo{

}

.game-main i {
    padding-top: 29px;
    font-size: 100px;
    color:#fff;
}

.g .g-logo {
    sposition: absolute;
    top:0px;
    right:0px;
    left:0px;
    z-index: 5;
    height: 181px;
    text-align: center;
}

.g .g-logo i {
    padding-top: 29px;
    font-size: 100px;
    color: #fff;
}

*[hidden] { display: none; }

.sidebar-module {
    margin-bottom: 1em;
}

.btn-join{
    font-size: 1.6em;
    background-color: #c52f2b;
}


.header a:hover{
    text-decoration: none;
}

.reg {
    margin-bottom: 9px;
    overflow: auto;
}
.reg .reg-option {
    text-align: center;
    width: 33%;
    padding: 6px 9px;
    float:left;
}

.reg-option .reg-value {
    border: 1px solid #ccc;
    padding: 6px 9px;
    margin: 5px 35px;
    font-size: 21px;
}

.popover .reg-option{
    font-size: 12px;
}
.popover .reg-option .reg-value {
    margin: auto;
    font-size: 12px;
}

footer .container {
    background-color: #000;
    height: 430px;
    margin: 0px;
    padding:0px;
    width:100%;
    overflow:hidden;

}

footer .container img {

    /*IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /*IE 5-7*/
    filter: alpha(opacity=50);

    /*Netscape*/
    -moz-opacity: 0.5;

    /*Safari 1.x*/
    -khtml-opacity: 0.5;

    opacity: 0.5;
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: -200px;
}

footer .navbar {

}

footer .navbar ul li {
    float: left;
    margin: 15px 15px 10px 0;
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
    border-right: 1px solid #3f6470;
    list-style: none;
}

footer .navbar a {
    font-size: 17px;
    font-weight: bold;

}
footer .navbar a:hover {
    text-decoration: none;
}

footer .sponsor {
    sposition: absolute;
    sz-index: 10;
    background-color: rgba(255,255,255,0.85);
    text-align: center;
    height: 100px;
    padding: 6px 0px;
}
footer .sponsor img {
    max-width:100%; 
    max-height:100%;
}


.carousel-inner .item img {
     /*IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

     /*IE 5-7*/
    filter: alpha(opacity=30);

     /*Netscape*/
    -moz-opacity: 0.3;

     /*Safari 1.x*/
    -khtml-opacity: 0.3;

    /* Good browsers */
    opacity: 0.3;
}



.carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
}

@media (min-width: 400px){
    .carousel {
        margin-bottom: 5px;
        margin-left: -8px;
        margin-right: -10px;
    }
}

@media (min-width: 600px){
    .carousel {
        margin-bottom: 5px;
        margin-left: -8px;
        margin-right: -10px;
    }
}



@media (min-width: 768px){

    .carousel {
        margin-bottom: 5px;
        margin-left: -11px;
        margin-right: 0px;
    }

    .carousel-inner .item img {

        margin: 0px;
        padding: 0px;
        width: 100%;
        margin-top: -100px;
    }


    .carousel-caption h1 {
        font-size: 52px;
    }

    .carousel-caption .lead {
        font-size: 27px;
    }

    .carousel-caption p {
        font-size: 19px;
    }
}

@media (min-width: 992px){
    .carousel-inner .item img {

        margin: 0px;
        padding: 0px;
        width: 100%;
        margin-top: -100px;
    }

    .carousel {
        margin-bottom: 5px;
        margin-left: -8px;
        margin-right: 0px;
        
    }
}

@media (min-width: 991px){
    .carousel {
        margin-bottom: 5px;
        margin-left: -8px;
        margin-right: 9px;
    }

    .carousel-caption h1 {
        font-size: 56px;
    }

    .carousel-caption .lead {
        font-size: 27px;
    }

    .carousel-caption p {
        font-size: 19px;
    }
}

@media (min-width: 1200px){

    .carousel-inner .item img {

        margin: 0px;
        padding: 0px;
        width: 100%;
        margin-top: -200px;
    }

    .carousel {
        margin-bottom: 5px;
        margin-left: -8px;
        margin-right: -8px;
    }

}

.carousel-caption p, .carousel-caption h1 {
    text-align: left;
}

.carousel-inner .item {
    background-color: #000;
    height: 350px;
    margin: 0px;
    padding:0px;
    width:100%;
    overflow:hidden;
}

.sp {

    margin: 5px;
    height:120px;
    padding:0px;
    overflow: hidden;
    text-align: center;

}

.sp img {

    max-width: 100%;
    max-height: 100%;
}

.teams-row {
    margin-bottom: 20px;
}

.teams-row button {
    margin-left: 10px;

}

.team .panel-title {
    font-size: 30px;
    font-weight: lighter;
}

.team .p {
    float: left;
    margin: 0px 10px;
    text-align: center;
    width: 90px;
}
.team .p img{
    display: block;
}

.team .members{
    text-align: center;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.errorMsg ul {

    padding:0;
    display: block;
    list-style-type: disc;
    color: #a94442;
}

.errorMsg li {
    list-style: none;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #1592C3;
}

.main-container{
    min-height:600px;
}

/*div {
    border: 1px solid #ccc;
    padding: 1px;
}*/

