{% extends 'RockITTechgamesBundle::layout.html.twig' %}

{% block content %}

    <h1>Sponsors</h1>


    <p>Special thanks to our 2014 competition sponsors.</p>

    <div class="row">

        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/bc-graphics" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/bc%20graphics/BC%20Horizontal%20Logo.jpg" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="27"></a>
        </div>
    
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/bni-0" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/bni/BNI%20logo.png" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="57"></a>
        </div>
    
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/ca-technologies-0" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/ca%20technologies/CA_r_Primary_RGB_web_395x352.png" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="85"></a>
        </div>
    
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/cdw" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/cdw/CDW-Chopped-Red.gif" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="88"></a>
        </div>
    
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/cisco-1" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/cisco/cisco_logo_2color.png" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="66"></a>
        </div>
    
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/datalink" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/datalink/Datalink_Logo_3005.jpg" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="48"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/dpair" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/dpair/DPAIR_JPEG.jpg" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="77"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/emc-0" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/emc/EMC.jpg" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="31"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/hp" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/hp/HPR_Blue_CMYKC.jpg" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="95"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/jda" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/jda/JDA_Logo_4c_Stroke.jpg" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="59"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/landiscor" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/landiscor/Landiscor-logo.jpg" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="32"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/microchip-0" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/microchip/Microchip_svg.png" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="22"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/networking-phoenix" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/networking%20phoenix/networkingphoenix-light-two-lines-color.jpg" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="27"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/nimble-storage" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/nimble%20storage/Nimble-Storage-Logo-RGB-2-Lines-72dpi.jpg" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="38"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/prisma" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/prisma/Prisma_Logo_Final_Coated_Cspots%20%281%29.jpg" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="43"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/sungard" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/sungard/AS%20Logo%20-%20Color%20Logo%20with%20Black%20Letters.png" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="43"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/suzie-guzman-solutions-0" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/suzie%20guzman%20solutions/SGS_logo_0.jpg" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="50"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/tech-shop" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/tech%20shop/Techshoplogojpg.jpg" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="34"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/tek-systems" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/tek%20systems/TEK%20logo%20for%20AvnetTechGames-JPG.JPG" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="31"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-4 sp">
            <a href="/sponsor/university-advancing-technology" class="imagecache imagecache-minor_sponsor_logo imagecache-linked imagecache-minor_sponsor_logo_linked"><img src="http://www.avnettechgames.com/sites/default/files/imagecache/minor_sponsor_logo/sponsor/the%20university%20of%20advancing%20technology/UAT%20Steel%20Seal%203058x3058.jpg" alt="" title="" class="imagecache imagecache-minor_sponsor_logo" width="95" height="95"></a>
        </div>

    </div>




{% endblock %}